<h2>Recently updated posts</h2>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post[:title] %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<h2>Page Views</h2>

<table>
  <thead>
    <tr>
      <th>Site</th>
      <th>Views</th>
    </tr>
  </thead>

  <tbody>
    <% @page_views.each do |site, count| %>
      <tr>
        <td><%= site %></td>
        <td><%= count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
